@import 'tailwindcss';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #6c95b1;

    --water-dark: #6c95b1;
    --water-medium: #9cbecd;
    --water-light: #c0ccd5;

    --land-dark: #6d986b;
    --land-medium: #a4bf90;
    --land-light: #dfe3cd;

    --foreground: #ede9dc;
    --menu-light: #fefae0;
    --menu-dark: #d4a373;
    --menu-background: #faedcd;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
